body { /* General styling for page */
  background-color: #121212; 
  font-family: 'Lucidia Console', monospace; 
  color: lightblue;
}

nav { /* Styling for navigation bar */
  text-align: center;
  background-color: red;
  display: felx;
}
nav ul {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #2b2b2b; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: darkred;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #2b2b2b;
  padding: 20px;
}

table {
  width: 100%;
}

th, td {
  padding: 5px;
}
