body {
    color: #F0F0F5;
    font-family: "Consolas", sans-serif;
    padding: 20px;
  }

  ul.dropdown-menu {
    background-color: #1f1f29;
    color: aliceblue;
}

footer {
  color: grey;
    font-family: "Consolas", sans-serif;
    padding: 20px;
    align-content: center;
}

div {
  padding-top: 20;
  padding-bottom: 20;
  padding-left: 20;
  padding-right: 20;
}